
   *{
       margin: 0%;
       padding: 0%;
       box-sizing: border-box;
   }
   body{
    background:linear-gradient(to bottom,rgb(219, 209, 211)0%,rgb(171, 179, 184)100%) ;
   }
   .box{
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin:auto;
       margin-left: 60px;
       padding: 5px;
       align-items: center;
       
   }
   .card{
    padding: 10px;
    margin: 5px;
    background-color: rgb(107, 112, 109);
    text-align: center;
    border: rgb(4, 51, 18) 4px  solid;
    border-radius: 10px;
    font-family: 'Rampart One', cursive;
    font-size: 12px;
   }
   .inputsearch{
    background-color: rgb(199, 211, 204);
    height: 60px;
    width: 600px;
    margin: 0px 450px;
    margin-top: 40px;
    border-radius: 10px;
    border-color: rgb(14, 104, 59);
    border-style: dashed;
    cursor: pointer;
}
.title{
    text-align: center;
    font-size: 75px;
    color: rgb(51, 61, 59);
    text-align: center;
    font-family: 'Monoton', cursive;
}
.card:active,
.card:hover{
   background-color:rgb(234, 245, 138);
}
.inputsearch:active,
.inputsearch:hover{
   background-color: rgb(234, 245, 138);
}
.btn{
  cursor:zoom-in;
  background-color:rgb(4, 51, 18) ;
  border-radius: 1px ;
}
.result{
  text-align: center;
  font-family:'Rampart One', cursive;
  border: rgb(77, 65, 65) 5px dashed;
  color: rgb(219, 16, 16);
  font-size: 40px;
  margin: 0px 100px;
  margin-bottom: 50px;
  
}
